<!-- <p>name:{{ doctor.name }}</p>
<p>age: {{ doctor.age }}</p>
<p> degree: {{ doctor.degree }}</p>
<p>exprerience: {{ doctor.experience }}</p> -->

 <div class="card" style="width:400px" id="doctor">
     <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
    <div class="card-body">
      <h4 class="card-title">Name: {{ doctor.name }}</h4>
      <p class="card-text">age: {{ doctor.age }}</p>
      <!-- <p class="card-text">degree: {{ doctor.degree }}</p>
      <p class="card-text">exprerience: {{ doctor.experience }}</p> -->
       <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
    </div>
  </div>
