<!-- <p>
  Name:  {{ patient.name }} <br>
 Age: {{ patient.age }} <br>
</p> -->

<div class="card" style="width:400px" id="patient">
    <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
    <div class="card-body">
      <h4 class="card-title">Name: {{ patient.name }}</h4>
      <p class="card-text">age: {{ patient.age }}</p>
      <p class="card-text">gender: {{ patient.gender }}</p>
      <p class="card-text">bloodgroup: {{ patient.bloodgroup }}</p>
      <p class="card-text">address: {{ patient.address }}</p>
      <p class="card-text">mobile: {{ patient.mobile }}</p>
      <p class="card-text">email: {{ patient.email }}</p>
      <p class="card-text">city: {{ patient.city }}</p>
      <img src='http://localhost:8080/images/patient/{{ patient.image }}'>
    </div>
</div>
