<br><br>
<h4>Patient Record</h4>
<input type="text" [(ngModel)]="search">
<button type="submit" (click)="realtimeSearch()">Search</button>
<div class="card" *ngFor="let patientDt of this.patientService.patientData " id="main">
    <!-- <div class="card-header">d_uid: {{patientDt.doctor_uid}}</div> -->
     <!-- <div class="card-header">p_uid: {{patientDt.patient_uid}}</div> -->
    <div class="card-body">disease:{{ patientDt.summary}}</div>
    <div class="card-footer" (click)="showData(patientDt)">view record</div>
</div>

<!-- <div class="card" *ngFor="let Dt of this.patientService.dataSearch " id="main">
    <div class="card-header">d_uid: {{Dt.doctor_uid}}</div>
     <div class="card-header">p_uid: {{Dt.patient_uid}}</div>
    <div class="card-body">disease:{{ Dt.summary}}</div> -->
    <!-- <div class="card-footer" (click)="showData(patientDt)">summary:{{patientDt.summary}}</div> -->
<!-- </div> -->
